.feed-form {
    width: 300px;
    display: flex;
    flex-direction: column; 
    margin-top: 36px;  
    input{
        height: 54px;
        margin-bottom: 15px;
        border-radius: 5px;
        border: none;
        padding: 0 20px;
        font-weight: 300;
        font-size: 14px;
        align-items: center;
        color: #4B4B4B;
        &:nth-child(3){
            margin-bottom: 20px;
        }

    }
    &_mt25 {
        margin-top: 25px;
    }
}